<a href="/pictures/<%= picture.get('category') %>/<%= picture.get('number') %>">
    <div class="thumbnail">
        <% if (picture.get('category').indexOf('动图')!=-1) { %>
        <div class="cover" style="background-image: url('<%=picture.get('qiniu_url') + previewFirstFrame %>');"></div>
        <% } else {%>
        <div class="cover"style="background-image: url('<%=picture.get('qiniu_url') + previewThumbnail %>');"></div>
        <% } %>
        <div class="caption">
            <span><%= picture.get('title') %></span>
        </div>
    </div>
</a>
