<!DOCTYPE HTML>
<html>
<head>
    <% include ../partials/head.ejs %>
</head>
<body>
<% include ../partials/nav.ejs %>

<div class="container">
  <div>
    <h4><%= pictures[0].get('category')%></h4>
    <div class="row">
        <% for(var i=0; i< pictures.length; i++) {%>
      <div id="grid-item" class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <% var picture = pictures[i]; %>
          <% include ../partials/grid-item.ejs %>
      </div>
        <% } %>
    </div>
  </div>

  <div class="box-paginator hidden-xs">
    <ul id="paginator" data-total-pages=<%= totalPages %> data-current-page=<%= currentPage %>></ul>
    <span class="text-total-pages">共<%= totalPages %>页</span>
  </div>

  <ul id="paginator" class="box-paginator pager visible-xs">
    <li class="previous"><a href="/pictures/<%=pictures[0].get('category')%>?page=<%= parseInt(currentPage)-1%>"><span>&larr;</span> 上一页</a></li>
    <span class="text-total-pages">第<%= currentPage %>页</span>
    <span class="text-total-pages">共<%= totalPages %>页</span>
    <li class="next"><a href="/pictures/<%=pictures[0].get('category')%>?page=<%= parseInt(currentPage)+1%>">下一页 <span>&rarr;</span></a></li>
  </ul>

</div>
<% include ../partials/footer.ejs %>
</body>
</html>