<!DOCTYPE HTML>
<html>
<head>
    <title><%= picture.get('category') %></title>
    <% include ../partials/head.ejs %>
</head>
<body class="picture show">

<div class="container center">
    <h4><%= picture.get('title') %></h4>

    <p><%= picture.get('prolusion') %></p>
    <img src="<%= picture.get('original_url') %>">
    <p><%= picture.get('closing') %></p>

    <img src="/images/collection-qrcode.jpeg">
    <p>觉得不错就支持下吧，5毛能看100篇哦~</p>

    <%if (user) { %>
    <ul id="paginator" class="box-paginator pager">
        <li class="previous"><a href="/pictures/<%=picture.get('category')%>/<%= parseInt(picture.get('number'))-1 > 0 ? parseInt(picture.get('number'))-1 : 0%>"><span>&larr;</span> 上一个</a></li>
        <li class="next"><a href="/pictures/<%=picture.get('category')%>/<%= parseInt(picture.get('number'))+1 %>">下一个 <span>&rarr;</span></a></li>
    </ul>
    <% } %>

</div>
</body>
</html>
